{% load static %}
{% load djangovue %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tasks</title>

	{% load_vuejs %}	
	{% render_link_tag 'bootstrap' %}
	{% render_script_tag 'axios' %}

  <script nomodule src="{% static 'js/App.js' %}" defer></script>
	<script type="module" src="{% static 'js/App.js' %}" defer></script>
</head>
<body>
	{% djangovue on %}
	<div id="app" class="container">
		<div class="mb-5"></div>
		
		<div class="row mb-5">
			<div class="col">
				<h1>Sync Meetup data</h1>
        <blockquote>
          Enter a meetup name to add a new meetup or click sync to sync the existing ones.
          The meetup name is the path in the URI on meetup.com.
          Note if no name is provided we will attempt to sync all the meetups stored in the database.
        </blockquote>
				
				<form>
					<fieldset class="form-group">
						<label for="Meetup name">Meetup name</label>
						<input
              class="form-control"
              type="text"
              title="This is the path in the meetup URI"
              id="name"
              name="name"
              v-model="meetupUrl">
					</fieldset>

					<button
            @click.prevent="addNewMeetup"
            class="btn btn-primary"
            :disabled="isAdding || meetupUrl.length === 0">
            Add new
          </button>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h1>Meetups</h1>
			    <ul class="list-group">
		    		<li v-for="meetup in meetups" :id="meetup.id" class="list-group-item">
	    				{{ meetup.name }}
	    				<span v-if="isSyncing(meetup)" class="badge badge-pill badge-info">Syncing</span>
		    			<span v-if="hasSyncError(meetup)" class="badge badge-pill badge-danger">Errored</span>

		    			<button
		    				@click="syncMeetup(meetup)"
		    				:disabled="isSyncing(meetup)"
		    				class="btn btn-primary float-right">
		    				Sync
		    			</button>
		    		</li>
			    </ul>
			</div>
		</div>
	</div>
	{% enddjangovue on %}

	{{ vue_context|json_script:"vue-context" }}
</body>
</html>
