[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-dramatiq = "*"
dramatiq = {extras = ["watch", "redis"]}
requests = "*"
djangorestframework = "*"
jupyterlab = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
